* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (max-width: 83.69231em) {
  #page {
    width: auto;
  }
}

.no-sidebars #content {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 100%;
}
.no-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .no-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  .no-sidebars #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-second #content {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 74.78992%;
}
.one-sidebar.sidebar-second #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 74.68354%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .one-sidebar.sidebar-second #content {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  .one-sidebar.sidebar-second #content:last-child {
    margin-right: 0;
  }
}
.one-sidebar.sidebar-first #content {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 83.19328%;
  margin-left: 16.80672%;
}
.one-sidebar.sidebar-first #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 62.02532%;
    margin-left: 25.31646%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .one-sidebar.sidebar-first #content {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
    margin-left: 0%;
  }
  .one-sidebar.sidebar-first #content:last-child {
    margin-right: 0;
  }
}
.two-sidebars #content {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 57.98319%;
  margin-left: 16.80672%;
}
.two-sidebars #content:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 49.36709%;
    margin-left: 25.31646%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .two-sidebars #content {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
    margin-left: 0%;
  }
  .two-sidebars #content:last-child {
    margin-right: 0;
  }
}

#sidebar-first {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 15.96639%;
  margin-left: -75.63025%;
}
#sidebar-first:last-child {
  margin-right: 0;
}
.sidebar-first #sidebar-first {
  margin-left: -100.84034%;
}
@media screen and (max-width: 768px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 24.05063%;
    margin-left: -75.94937%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: -88.60759%;
  }
}
@media screen and (max-width: 480px) {
  #sidebar-first {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
    margin-left: 0%;
  }
  #sidebar-first:last-child {
    margin-right: 0;
  }
  .sidebar-first #sidebar-first {
    margin-left: 0%;
  }
}

#sidebar-second {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 24.36975%;
  margin-left: 0%;
}
#sidebar-second:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 1.26582%;
    width: 24.05063%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  #sidebar-second {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
    margin-left: 0%;
  }
  #sidebar-second:last-child {
    margin-right: 0;
  }
}

#footer {
  float: none;
  clear: both;
}

#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

.inner {
  padding: 0;
}

#navigation li {
  list-style-type: none;
  display: inline-block;
}

/*# sourceMappingURL=layout.css.map */
