body {
  margin: 0;
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
  text-decoration: underline;
}

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 99%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  padding: 55px;
  color: #353535;
}

a:hover {
  text-decoration: none;
}

#page #header {
  padding-top: 6.82%;
}
#page #header #logo {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #353535;
  cursor: pointer;
}
#page #header #header-region #block-boxes-main_menu {
  height: auto;
  position: fixed;
  z-index: 99;
  top: 55px;
  left: 55px;
  right: 55px;
}
.logged-in #page #header #header-region #block-boxes-main_menu {
  top: 84px;
}
#page #header #header-region #block-boxes-main_menu #logo {
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 24.36975%;
  color: #353535;
  text-indent: -9999em;
  overflow: hidden;
  display: inline-block;
  height: 0;
  padding-top: 6.82%;
  background: url(../images/optimized/niallmorgan2010_logo_new.png) no-repeat 0 0;
  background-size: 100%;
  position: relative;
  z-index: 100;
}
#page #header #header-region #block-boxes-main_menu #logo:last-child {
  margin-right: 0;
}
#page #header #header-region #block-boxes-main_menu #logo:hover {
  background-position: 0 33.12%;
}
.menu-open #page #header #header-region #block-boxes-main_menu #logo {
  background-position: 0 66.46%;
}
.menu-open #page #header #header-region #block-boxes-main_menu #logo:hover {
  background-position: 0 100%;
}
#page #header #header-region #block-boxes-main_menu #main-menu {
  background-color: #1a1a1a;
  padding-top: 19.56%;
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.menu-open #page #header #header-region #block-boxes-main_menu #main-menu {
  display: block;
}
#page #header #header-region #block-boxes-main_menu #main-menu li {
  list-style-type: none;
}
#page #header #header-region #block-boxes-main_menu #main-menu li a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: white;
  padding: 0 55px;
  font-size: 50px;
  line-height: 65px;
  font-weight: bold;
}
#page #header #header-region #block-boxes-main_menu #main-menu li a:hover {
  color: #e2857b;
}
#page #main div.tabs {
  display: none;
}
#page #main h2.block-title {
  font-size: 50px;
  font-weight: bold;
}

#block-views-work-block {
  margin-top: 6.78%;
}
#block-views-work-block .views-row {
  float: left;
  float: left;
  display: block;
  margin-right: 0.84034%;
  width: 24.36975%;
  opacity: 0.5;
}
#block-views-work-block .views-row:last-child {
  margin-right: 0;
}
#block-views-work-block .views-row:nth-child(4n+4) {
  margin-right: 0;
}
#block-views-work-block .views-row:hover {
  opacity: 1;
}
#block-views-work-block .views-row .field-name-field-tile-image img {
  width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
